Demo1/Service Descriptors/DatasearchprocessService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://xmlns.example.com/20160421154143" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DatasearchprocessService" targetNamespace="http://xmlns.example.com/20160421154143">
  <wsdl:types>
    <xsd:schema elementFormDefault="unqualified" targetNamespace="http://xmlns.example.com/20160421154143">
      <xsd:element name="operationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="operationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="operationFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fault" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="operationRequest">
    <wsdl:part element="tns:operationRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="operationResponse">
    <wsdl:part element="tns:operationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="operationFault">
    <wsdl:part element="tns:operationFault" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Service">
    <wsdl:operation name="operation">
      <wsdl:input message="tns:operationRequest" name="operationInput"/>
      <wsdl:output message="tns:operationResponse" name="operationOutput"/>
      <wsdl:fault message="tns:operationFault" name="Fault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
